// font-files
@font-face {
    font-family: 'DomaineSans';
    src: url('../fonts/domaine/DomaineSansTextWeb-Regular.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'DomaineSans';
    src: url('../fonts/domaine/DomaineSansTextWeb-RegularItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DomaineSans';
    src: url('../fonts/domaine/DomaineSansTextWeb-Bold.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'DomaineSans';
    src: url('../fonts/domaine/DomaineSansTextWeb-BoldItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/founders/FoundersGroteskLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/founders/FoundersGroteskRegular.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'FoundersGrotesk';
    src: url('../fonts/founders/FoundersGroteskMedium.woff2') format('woff2');
    font-weight: 400;
}

// Typography Styles
html {
    font-family: 'FoundersGrotesk', Helvetica, sans-serif;
    font-weight: 200;
}

body {
    color: #6F8CD6;
    background-color: #ECFFFB;
}

h1 {
    font-family: 'DomaineSans', Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 40pt;
}

#domaine {
    font-family: 'DomaineSans', Helvetica, sans-serif;
    font-size: 18pt;
}

#founders {
    font-family: 'FoundersGrotesk', Helvetica, sans-serif;
    font-size: 12pt;
}

.bold{
    font-weight: 400;
}

.caption {}

// Padding Standards
.smallspacing {
    padding-top: 30px;
}

.midspacing {
    padding-top: 60px;
}

.largespacing {
    padding-top: 100px;
}

#rounded {
    border-radius: 10px;
}

// Layout Color Specifications
#lightblue{
    background-color: #ECFFFB;
}

#cream {
    background-color: #FBF3DE
}

// Navigation
nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
        .nav-logo {
            display: flex;
            align-content: center;
        }
        .nav-content {
            display: flex;
            align-content: center;
        }
    }
}

@media only screen and (min-width: 601px) {
    nav {
        .nav-wrapper {
            width: 85%;
        }
    }
}
@media only screen and (min-width: 993px) {
    nav {
        .nav-wrapper {
            width: 70%;
        }
    }
}

//Portfolio Piece
.portfoliopiece {}

.portfoliopiece:hover {}

.description {
    display: none;
}

.portfoliopiece:hover+.description {
    position: absolute;
    display: block;
    font-size: 50px;
}

// nav {
//     z-index: 100;
//     display: flex;
//     justify-content: center;
//     background-color: $primary-color;
//     height: 75px;
//     position: fixed;
//     .nav-container {
//         display: flex;
//         align-items: center;
//         width: 90%;
//         .nav-content {
//             .tabs {
//                 width: 350px;
//                 display: flex;
//                 justify-content: space-between;
//                 .tab {
//                     width: 49%;
//                 }
//                 .tab:hover {
//                     background-color: rgba(0, 0, 255, 0.075);
//                 }
//                 .indicator {
//                     position: absolute;
//                     bottom: 0;
//                     height: 50px;
//                     background-color: whitesmoke;
//                     will-change: left, right;
//                     opacity: 0.2
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 600px) {
//     nav {
//         .nav-container {
//             width: 100%;
//             .nav-content {
//                 width: 100%;
//                 .tabs {
//                     width: 100%;
//                     margin-left: 0px;
//                 }
//                 .indicator {
//                     width: 50%;
//                 }
//             }
//         }
//     }
// }